################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArabianCoBackend/.vs/ArabianCo/config
/ArabianCoBackend/.vs/ArabianCo/DesignTimeBuild
/ArabianCoBackend/.vs/ArabianCo/FileContentIndex
/ArabianCoBackend/.vs
/ArabianCoBackend/src/ArabianCo.Application/bin/Debug/net7.0
/ArabianCoBackend/src/ArabianCo.Application/obj
/ArabianCoBackend/src/ArabianCo.Core/obj
/ArabianCoBackend/src/ArabianCo.Core/bin/Debug/net7.0
/ArabianCoBackend/src/ArabianCo.EntityFrameworkCore/bin/Debug/net7.0
/ArabianCoBackend/src/ArabianCo.EntityFrameworkCore/obj
/ArabianCoBackend/src/ArabianCo.Migrator/bin/Debug/net7.0
/ArabianCoBackend/src/ArabianCo.Migrator/obj
/ArabianCoBackend/src/ArabianCo.Web.Core/bin/Debug/net7.0
/ArabianCoBackend/src/ArabianCo.Web.Core/obj
/ArabianCoBackend/src/ArabianCo.Web.Host/App_Data/Logs
/ArabianCoBackend/src/ArabianCo.Web.Host/bin/Debug/net7.0
/ArabianCoBackend/src/ArabianCo.Web.Host/obj
/ArabianCoBackend/test
/.vs
